

<div id="edit_essay_container">

<% if flash[:notice] == "That movie has been deleted!" %>
	<p class="red"> <%= flash[:notice] %></p>
<% else %>
<p> <span class="edit_form_white_text"> Editing essay for </span> <span class="edit_movie_title red"> <%= @movie.title %></span>  </p>
<% end %>


<% unless flash[:notice] == "That movie has been deleted!" %>

<%= form_for(@essay, remote:true, url: {action: "edit_essay"}, html: {class: "nifty form"}) do |f| %>
	<%= hidden_field_tag(:user_id, @user.id) %>
	<%= hidden_field_tag(:movie_id, @essay.movie.id) %>
	<%= hidden_field_tag(:id, @essay.id) %>
<span class="edit_form_white_text">  Title: </span> <%= f.text_field :title %>
  <%= f.submit(:class => "radius button hidden tiny secondary") %></br>
  
  <% unless flash[:notice] == "" %> 
    <span class="red"><%= flash[:notice] %></span></br>
  <% end %>  

<span class="edit_form_white_text">  Body : </span> <%= f.text_area(:body, :id => "body_area", :cols => 10, :rows => 90) %>
 
  <% unless flash[:notice] == "" %>                          
    <span class="red"><%= flash[:notice] %></span></br>
  <% end %>
 
  <%= f.submit(:class => "radius button hidden tiny secondary") %>

<% end %>

<% end %>

</div>
