<% @movies.each do |mv| %>

<script type="text/javascript">

$(document).ready(function() {
var mv_id = "<%=j mv.id.to_s %>";

$('#edit_movie_' + mv_id ).click(function() {
	$(this).addClass("hide");	
})


})
</script>

<% end %>

<div class="tiles">

  <% @counter = 0 %>
  <% @movies.each do |mv| %>
   <div class="movie_listing" id="movie_listing_<%= mv.id %>">
	

	<div class="movie_poster"> <%= image_tag(mv.poster, width: '132', alt: "movie_poster") %> </div>

	<% if @movies_top_ten.length < 10 %>
		<%= form_for(@movies[@counter], remote:true, url: {action: "update_movie"}, html: {class: "nifty form"}) do |t| %>
		  <%= hidden_field_tag(:user_id, @user.id) %>
		  <%= hidden_field_tag(:id, mv.id) %>
   		  <%= t.submit "Add to Faves", :class => 'button small radius alert' %>
   		<% end %>
	<% else %>
	<span> You've already faved 10 movies! Delete one before adding another! </span>
	<% end %>


	<% @counter = @counter + 1 %>

	<p> <strong> Movie Title: </strong> 

		<%= link_to mv.title, mv.link, :target => "_blank" %> 

	</p>

        <p> <strong> Year: </strong> <%= mv.year %> </p>
	<p> <strong> MPAA Rating: </strong> <%= mv.mpaa_rating %> </p>
	<p> <strong> Starring: </strong> <%= mv.abridged_cast %>
	<p> <strong> Synopsis: </strong> <%= mv.synopsis %> </p>
   </div>	
  <% end %>
</div>

