<div id="index_page_frame">
<section class="top-bar-section">

    <% if @auth.present?  %>
           <li><%= link_to('Logout', '/users/sign_out', :method => :delete ) %></li>
    <% end %>

</section>

<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

	<div class="movie_search">
	
	<fieldset>
	  <legend> Search for a Movie! </legend>
	  <%= form_for(:searchterm, remote: true, url: {action: "new_search"}, html: {class: "nifty form"}) do |f| %>
	  <%= hidden_field_tag(:user_id, @user.id) %>
	  <%= f.label :term, "What movie do you want to search for?" %>
	  <%= f.text_field :term %>
	  <%= f.submit @button_label, :class => 'radius button hidden tiny secondary', :id => 'search_button', :remote => "true" %>
	  <% end %>
	</fieldset>
	
	</div>
	
	<div id="search_results">
	<%= render(:partial => 'home/search_results') %>
	</div>	


<div id="myModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
